@{
    ViewBag.Title = "Unauthorized Access";
}
<div class="error-unauthorized">
    <label>Unauthorized Access!</label>
    <p>You do not have permission to access this page.</p>
    <p>If you have any question, please contact the site administrator.</p>
</div>